
*{
    border          :   0px solid orange;
    margin          :   auto;
    font-family     :   'Browallia New', 'Arial',sans-serif;
    font-size       :   14pt; 
}

.corpo-pagina {
    height          :   auto;
    min-height      :   100vh; 
    background-color:   ;
    background      :   url(../img/__login5.png) no-repeat 50% 20% #dedeee ;
}

header {
    width           :   auto;  
    color           :   white;
    text-align      :   center;
}

#titulo-header {
    display         :   block;
    width           :   100%;  
    /*height          :   10vh;*/
    background      :   linear-gradient(#6A5ACD, #191970);
    text-align      :   center;
    margin          :   auto;
    border          :   0px solid blue;
    color           :   whitesmoke;
    position        :   static;
}

.menu>nav{
    width           :   100%;
    min-width       :   15%; 
    height          :   4vh;
    color           :   white;
    background-color:   darkred;/*rgba(9, 2, 51, 0.83);*/
    text-align      :   center;
    position        :   fixed;
}

nav ul {
    list-style-type :   none;
    position        :   static;
    padding         :   0px 0px 0px 0px; 
}

nav ul li{
    padding         :   25px;
    font-size       :   9pt;
    font-family     :   'Century Gothic',sans-serif;
    font-size       :   15pt;
}


#main-footer {
    display         :   block;
    width           :   100%;
    height          :   5vh;
    color           :   white;
    background      :   #191970; /*linear-gradient(#252525,#114c94);*/
    text-align      :   center;
    position        :   static;
    box-shadow      :   0px 0px 30px rgba(0,0,0,0.60);
}

.img-logue-se{
    width       :   100%;
    text-align  :   center;
}

.img-logue-se img {
    display     :   block;
    width       :   20%; 
    margin      :   auto;
    padding     :   10px auto;
    position    :   inherit; 
    
}

.form-login {
    width       :   auto;
    
}

.form-campos {
    width       :   auto;
    margin      :   auto;
    padding     :   10%; 
}

.form-campos .editext{
    margin      :   1% auto;
    text-align  :   center; 
}

input#login ,#senha, #submit{
    width       :   30%;
    margin      :   5px auto;
    padding     :   10px 15px; 
    border      :   1px solid #dedede;
    border-radius:  15px;
    
    text-align  :   center;
    background-color:   rgba(0,0,0,0.88);
    color       :   aliceblue;
}

input#login:focus ,#senha:focus{
    color       :   aliceblue;
    background-color:   rgba(0, 0, 0, 0.88);
}

input#submit {
    width       :   33%; 
    background-color:   #114c94;
    cursor      :    alias;
}

#aba p{
    width: 10%;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: linear-gradient(#6A5ACD, #191970);
    object-position: top ;
    border-bottom-left-radius: 25px;
    display: block;
    color: transparent;
}

#aba p:hover{
    width: 10%;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0;
    background-color: lime;
    color: darkgreen
}